[user]
	email = tommasofrau@outlook.com
	name = tommasofrau
	signingkey = /Users/tommasofrau/.ssh/id_ed25519.pub
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /Users/tommasofrau/.config/git/allowed_signers
